.recommend{
    width: 100%;
    overflow: hidden;
    margin-top: 150px;
    
    > h3{
        margin-bottom: 80px;
        margin-left: 20px;
        font-size: 30px;
        font-weight: 700;
    }
    .card{
        margin-top: 0;
        &__price{
            font-size: 14px;
        }
    }
    .card-add{
        font-size: 12px;
        padding: 5px 11px;

        svg{
            width: 9px;
            height: 9px;
        }

        &__quantity{
            font-size: 10px;
            height: 20px;
            flex-basis: 20px;
            max-width: 20px;
            padding: 3px 7px;
        }
    }
    .card{
        margin: 0 !important; 
    }

    &__main{

        padding: 0px 40px;
    }
}

.recommend-swiper{
    position: relative;

}
.swiper-btn-arrow{
    border-radius: 50%;
    padding: 5px;
    border: solid 1px #EB5A1E;
    background-color: #EB5A1E;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transition-duration: 0.3s;

    svg{
        width: 100%;
        height: 100%;
        path{
            fill: #fff;
            transition-duration: 0.3s;
        }
    }

    &:hover{
        background-color: transparent;
        svg path{
            fill: #EB5A1E;
        }
    }

    &.default{
        pointer-events: none;
        opacity: 0.3;
    }
}
.swiper-btn-arrow-next{
    right: -19px;
    transform: rotate(90deg) translateY(-50%);
}
.swiper-btn-arrow-prev{
    left: -19px;
    transform: rotate(-90deg) translateY(-50%);

}

@media (max-width: 500px) {
    .recommend-swiper {
        margin: 0 auto;
        max-width: 260px;
    }
}